*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    width: 100vw;
    height: 100vh;  
    padding: 2% 0 2% 0;
    margin: auto;
    background-color: #FFFFD9;
    color: #669700;
}

.horizontal-img {
    width: 90%;
    margin: auto;
}

.horizontal-img, .vertical-forest, .middle-section {
    display: flex;
}

.leaf-img {
    width: 5%;
    height: auto;
    object-fit: scale-down;
}

.middle-section {
    display: flex;
    height: 65vh;
}

.horizontal-forest-img {
    width: 95%;
    height: auto;
}

.vertical-forest {
    margin: 0 4% 0 4%;
    height: 100%;
}

.vertical-forest-img {
    height: 100%;
    width: auto;
    object-fit: scale-down;
}

.upper-forest, .lower-forest {
    width: 85vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#right-img, #right-shadow-img, #lower-img, #lower-shadow-img, #lower-right-leaf {
    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

#lower-left-leaf {
    -webkit-transform:rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

#upper-right-leaf {
    -webkit-transform:rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.certificate-content {
    width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.certificate-content {
    display: flex;
    flex-direction: column;
    font-family: 'Cormorant Garamond', serif;   
}

.treebanks {
    font-size: 2vw;
    font-family: 'Roboto Slab', serif;
}

.lighter {
    font-size: 1.5vw;
    font-weight: 200;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 5vw;
    letter-spacing: 1vw;
}

h2 {
    font-size: 2.5vw;
    font-family: 'Source Sans Pro', sans-serif;
}

.cursive-large {
    font-size: 3vw;
    font-family: 'Pattaya', sans-serif;
}

.credit {
    width: 70%;
    margin: auto;
    font-size: 2vw;
    font-family: 'Cormorant Garamond', serif; 
}

#method {
    font-weight: 700;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1vw;
    padding: 0.5vw;
}

.facebook, .instagram, .twitter {
    width: 2.5vw;
}

.signature {
    width: 15vw;
    margin-right: -5vw;
}
.stamp {
    width: 9vw;
    vertical-align: -4.5vh;
}

.treebanks-logo {
    width: 20vw;
    height: auto;
}

.certificate-imgs {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social {
    display: flex;
    justify-content: space-around;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}