*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    // padding: 2% 3%;
    background-color: #FFFFD9;
    color: #669700;
}


.upper-forest, .lower-forest {
    
    display: flex;
    flex-direction: row;
}

.width70vw{
    width: 80vw;
    height: auto;
}

.height70vh {
    height: 80vh;
    width: auto;
}

 #right-img, #right-shadow-img, #lower-img, #lower-shadow-img {
    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.horizontal-img {
    width: 60vh;
    height: auto;
}
.leaf-img {
    width: 4vw;
    height: auto;
}

.left-side-forest, .right-side-forest {
    display: flex;
}
.middle-section {
    display: flex;
    flex-direction: column;
}

.treebanks-logo {
    width: 20vw;
    height: auto;
}

.width15vw {
    width: 15vw;
    height: auto;
}

// TODO: 
// zalepi gi vertikalnite senki (dali so absolute position ili razmisli so sto)
// smali gi i rotiraj gi lisjata;
// smali go logoto, potpisot i pecatot
// pobaraj soodvetni social ikoncinja
// najdi soodvetni fontovi (za kirilica prasaj)
// doteraj padding, eventualno zgolemi gi sumite malku
// prasaj dali za responziven dizajn (konkretno za mobilen) da go 
// reosmislam dizajnot kako za portret orientacija ili da si ostane
// samo landscape

