*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    padding: 2% 0 2% 0;
    margin: auto;
    background-color: #FFFFD9;
    color: #669700;
}
.horizontal-img {

    width: 90%;
    margin: auto;
}
.horizontal-img, .vertical-forest, .middle-section {
    display: flex;
}

.leaf-img {
    width: 5%;
    height: auto;
    object-fit: scale-down;
}

.middle-section {
    height: 65vh;
    justify-content: space-between;
}

.horizontal-forest-img {
    width: 95%;
    height: auto;
}

.vertical-forest {
    margin: 0 4% 0 4%;
    height: 100%;
}

.vertical-forest-img {
    height: 100%;
    width: auto;
    object-fit: scale-down;
}

.upper-forest, .lower-forest {
    width: 85vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#right-img, #right-shadow-img, #lower-img, #lower-shadow-img, #lower-right-leaf {
    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

#lower-left-leaf {
    -webkit-transform:rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

#upper-right-leaf {
    -webkit-transform:rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

// TODO:
// razmisli za padingot dali da ti e fiksen, vidi kako skalira celata ramka
// razmisli za dizajn na mob, hostiraj go na github za da vidis kako izglea
// najdi social media ikoncinja
// najdi ubavi fontovi
// izbrisi gi stariot html i css i preimenuvaj gi ovie

